@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> <strong>Vehicle Price Calculator</strong></h1>

</div>
<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<div class="row g-3 vstack gap-3 mt-5">
    <form method="post">
        <div class="row">
            <div>  <label for="basePrice"><strong>Vehicle Base Price:</strong></label></div>
            <div class="col-3">

                <input type="number" id="basePrice" asp-for="BasePrice" step="0.01">
            </div>
        </div>

        <div class="row mt-3">

            <div class="col-3">
                <label for="type"><strong>Vehicle Type:</strong></label>
                <select asp-for="VehicleType" class="form-control">
                    @foreach (var vehicleType in Model.VehicleTypeList)
                    {
                        <option value="@vehicleType.Key">@vehicleType.Value</option>
                    }
                </select>
            </div>

        </div>

        <div class="mt-3">
            <button id="btnSubmit" class="btn btn-primary" type="submit">Calculate Total Cost</button>
        </div>
    </form>

    @if (Model.VehiclePriceTransactionList.Count() != 0)
    {
        <table id="dataTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th rowspan="2">Vehicle Price</th>
                    <th rowspan="2">Vehicle Type Name</th>
                    <th colspan="4" id="feesHeading" style="text-align:center;">Fees ($)</th>
                    <th rowspan="2">Total Cost</th>
                </tr>
                <tr>
                    <th>Basic Fee</th>
                    <th>Special Fee</th>
                    <th>Association Fee</th>
                    <th>Storage Fee</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.VehiclePriceTransactionList)
                {
                    <tr id="@item.Id">
                        <td>@item.VehiclePrice</td>
                        <td> @item.VehicleTypeName</td>
                        <td> @item.BasicFee</td>
                        <td> @item.SpecialFee</td>
                        <td> @item.AssociationFee</td>
                        <td> @item.StorageFee</td>
                        <td> @item.TotalCost</td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>

